{% extends "base.html" %}
{% block main %}
    

<div class="container mx-auto p-10 m-10 my-10">
    <div class="col-md-7 col-lg-8 mt-10 mx-auto">

    
        <h4 class="mb-3 mx-auto text-center mt-5">Add Recepie</h4>
        <form class="needs-validation"  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row g-3">
            
            <div class="">
              <label for="recepie_name" class="form-label">        <h4 class="mb-3 mx-auto text-center mt-5">Add Recepie</h4>
                name</label>
              <input type="text"  class="form-control" required name="recepie_name">
             
            </div>
           
            <div class="">
              
              <label for="recepie_description" class="form-label">Description</label>
              <textarea type="text"  name="recepie_description" class="form-control" ></textarea>
             
            </div>
            <div class="">
              
              <label for="recepie_image" class="form-label">choose</label>
              <input type="file" name="recepie_image" class="form-control">
             
            </div>
          </div>
    
          <hr class="my-4">
    
          <button class="w-100 btn btn-success btn-lg" type="submit">
            Add Recepie
            </button>
        </form>
      </div>
      <div class="d-flex mt-5">
        <form  class="mx-auto" >
          <label for="search">search</label>
          <input name="search" type="search" >
          <button class="btn-warning btn" type="submit">submit</button>
          
        </form>
      </div>
   
      <h4 class="mb-3 mx-auto text-center mt-5"> Recepie List</h4>
      <table class="w-full mx-auto">
        <tr class="text-center m-2">
          <th>S.no</th>
          <th>Recepie Name</th>
          <th>Recepie Description</th>
          <th>Recepie Image</th>
          <th>Action</th>
        </tr>
        {% for recepie in recepies%}
        <tr>
          <td>{{recepie.id}}</td>
          <td>{{recepie.recepie_name}}</td>
          <td>{{ recepie.recepie_description}}</td>
          <td  >
            <img src="/media/{{ recepie.recepie_image}}" width="100" height="50" alt="">
          </td>
          <td  >
            <a href="/delete_recepie/{{recepie.id}}" >
              <button class="btn btn-danger mx-2">Delete</button>
            </a>
            <a href="/update_recepie/{{recepie.id}}" >
              <button class="btn btn-warning mx-2">Update</button>
            </a>
          </td>
        </tr>
        {% endfor %}
        
      
      </table>
</div>

{% endblock %}